.summary{
    width: 100%;
    border-collapse: collapse;
}
.head{
    border: 0.2px solid #9e9e9e;
    padding: 2px;
    text-align: center;
}

.data {
    border: 0.2px solid #9e9e9e;
    padding: 2px;
    text-align: center;
    background-color: #343a40;
  }
  
  @media (max-width: 1921px) {
     /* Large  screens */
    .head{
        font-size: 0.9em;
    }
    
    .data {
        font-size: 0.85em;
      }
  }

  @media (min-width: 1920px)  {
    .head{
        font-size: 0.84em;
    }
    
    .data {
        font-size: 0.8em;
      }
  }